.casosporpaisp {
  color: black;
  margin-left: 321px;
}

.casosporpais {
  color: black;
  margin-left: 350px;
  margin-top: 90px;
}

.h1estados {
  color: black;
  margin-left: 292px;
}

.pestados {
  color: black;
  margin-left: 330px;
}

.bordaporpais {
  margin-top: 76px;
  margin-left: -136px;
  border-top: 1px solid #dee2e6 !important;
  width: 1145px;
}

.casesinbrazil {
  margin-bottom: 27px;
}
